:root{
  --gray: #7a7a7a;;
}

/* ::selection {
  background: black;
  color: red;
  } */

  html, body {
    padding: 0;
    margin: 0;
  }


.App {
    font-family: "Futura", sans-serif;
    text-align: center;
    min-height: 100vh; /* Ensure the App div takes at least the height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    
  }
  

  /* Styling for the menu */
  .menu {
    list-style-type: none;
    margin: 15px;
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid #f1f0f0;
    opacity: 0.93;

  }
  
  .menu li {
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 7px;
  }
  
  .menu a {
    font-size: smaller;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 5px 5px 0px rgb(224, 125, 251);
    border: 1px solid black;
    transition: border-color 0.1s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Include transform in the transition */
    display: inline-block; /* or display: block; */
    opacity: 0.9;
}

.menu a:hover {
    box-shadow: 0px 0px 0px rgb(171, 62, 62);
    border-color: transparent;
    transform:  translateX(3px) translateY(4px);
}
  .menu-category::selection{
    color: rgb(240, 194, 203);
    font-size: 20px;
    background-color: black;
 }
  h1 {
    margin: 50px auto;
    margin-bottom: 40px;
    width: 90%;
  }

  .droppedImage{
    opacity: .9;
  }
  
  .drop-area {
    /* position: relative; */
    width: 80%;
    height: 100%;
    /* border: 2px dashed #666; */
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 33px rgb(221 221 221);

    padding: 20px 0;
    margin-top: 60px;
    padding-bottom: 40px; 
    transition: border-color 0.1s ease, box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .drop-area:hover{
    
    box-shadow: 0px 0px 0px rgb(150, 255, 134);
    border-color: transparent;
    transform:  translateX(3px) translateY(4px);
  }

  .drag-hover{
    box-shadow: 0px 0px 0px rgb(150, 255, 134);
    border-color: transparent;
    transform:  translateX(3px) translateY(4px);

  }
  
  
  .animation-container {
    position: relative;
    width: 100px;
    height: 100px;
    opacity: .8;
  }
  
  .arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6;
    background: radial-gradient(
      circle at center,
      red 20%,
      transparent 20%,
      transparent 40%,
      red 40%,
      red 60%,
      transparent 60%,
      transparent 80%,
      red 80%
    );
    background-size: 200% 200%;
    animation: rotation 3s linear infinite;
    z-index: -2;
    opacity: 0.7;
  }
  
  .drop-area:hover .arrow {
    opacity: 0.15;
    z-index: -1;
  }
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 60vh; */
    /* margin: auto; */
    flex-direction: column;

    
  }
  
  @keyframes rotation {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% -200%;
    }
  }

  .upload-container {
    position: relative;
  }

  .upload-container p {
    position: relative;
    margin-bottom: 30px;
  }
  
  .upload-button {
    /* position: absolute; */
    /* top: 246px; */
    
    color: rgb(0, 0, 0);
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0.72;
    box-shadow: 5px 5px 0px rgb(224, 125, 251);
    border: 1px solid black;
    transition: border-color 0.1s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Include transform in the transition */
    display: inline-block; /* or display: block; */
    opacity: 0.9;
  }
  
  .upload-button:hover {
    box-shadow: 0px 0px 0px rgb(171, 62, 62);
    border-color: transparent;
    transform:  translateX(3px) translateY(4px);
  }
  
  .image-preview img {
    height: auto;
    width: 100%;
    /* position: absolute; */
    /* top: -100px; */
    /* left: 0px; */
    border: none;
    opacity: 0;
  }
  
  .image-preview img[src] {
    opacity: .85;
  }

  #file-upload {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

dt{
  color: var(--gray);
  
}

dl {
  display: flex;
  flex-direction: column;
}

dt, dd {
  display: inline-block;
  margin-right: 10px;
}

.label{
color: var(--gray);


}

#loadingIcon {
  position: absolute;
  top: 40%;
  left: 50%;
}

.row {
  display: flex;
}

.colorSq {
  width: 15px;
  height: 15px;
  margin: 1px;
  display: inline-block;
}

/* p {
font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin: 10px 0;
} */



.dim-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); 
  backdrop-filter: blur(3px); /* Blur effect */
  z-index: 999; 
  display: none; 
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes bubble {
  0%,50%{
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
100%{
  transform: scale(1);
}
}

.loading-text {
  color: white;
  margin-top: 170px;
  animation: fadeIn 1s ease-in-out; /* Apply fade-in to the whole text */
}



.loading-text span {
  display: inline-block;
  animation: bubble 2.5s infinite; /* Apply bubble to each letter */
  animation-delay: calc(var(--index) * 0.1s); /* Calculate delay based on index */
}

.loading-text span:nth-child(1) {animation-delay: 0s;}
.loading-text span:nth-child(2) { animation-delay: 0.1s; }
.loading-text span:nth-child(3) { animation-delay: 0.2s; }
.loading-text span:nth-child(4) { animation-delay: 0.3s; }
.loading-text span:nth-child(5) { animation-delay: 0.4s; }
.loading-text span:nth-child(6) { animation-delay: 0.5s; }
.loading-text span:nth-child(7) { animation-delay: 0.6s; }
.loading-text span:nth-child(8) { animation-delay: 0.7s; }
.loading-text span:nth-child(9) { animation-delay: 0.8s; }
.loading-text span:nth-child(10) { animation-delay: 0.9s; }


#downloadButton{
  display: none;
  box-shadow: none;
  border-color: rgb(180, 225, 225);
}

.book-container{
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  margin: 8px;
  width: 66%;
  box-shadow: 0px 0px 33px rgb(224 220 220);
  /* transform: translate(25%, -0%); */
}

.book-container-img{
  height: 60px;
  width: auto;
  /* top: 5px; */
  margin:15px;
  
}

details[open] summary ~ * {
  animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

details[open] > summary {
  font-size: 25px; /* Larger size when open */
  font-weight: bold;
  padding: 22px;
  text-align: left;
}



.details-open{
  height: 200px;


}


/* this below is CSS for the bookcontainer info on mobile */
@media screen and (max-width: 768px) { /* Adjust based on your mobile breakpoint */
  .details-open {
    display: none;
  }

  .book-container{
    padding: 15px;
  }
}


#drag-and-drop-text{
  font-size: 20px;
}

#result-container{
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    flex-wrap: wrap;
    align-content: center;
    width: 95%;

}


/* //test */

.footer {
  position: relative;
  left: 0;
 
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Aligns content to both ends */
  align-items: center; /* Vertically centers the content */
  font-family: "Futura", sans-serif;
  margin: 15px;
  border-top: 1px solid #f1f0f0;
  
}

.footer-title{
  font-weight: bold;
}

.social-icon {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  font-family: "Futura", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 5px 5px 0px rgb(224, 125, 251);
  border: 1px solid black;
  transition: border-color 0.1s ease, box-shadow 0.3s ease, transform 0.3s ease;
  display: inline-block;
  width: 10px;
  height: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.social-icon:hover {
  box-shadow: 0px 0px 0px rgb(171, 62, 62);
  border-color: transparent;
  transform:  translateX(3px) translateY(4px);
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 8px;
  opacity: .7;
  font-size: small;
}

.footer-link {
  color: #000000;
  text-decoration: none;
  margin: 2px 0;
  text-align: left;
  opacity: .8;
  font-size: smaller;
}

.footer-link:hover {
  text-decoration: underline;
}

.social-links{
  padding-right: 45px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: auto;
  padding-bottom: 14px;
}